{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Bienvenu !</h1>

    {% if age > 18 %}
        <p>Tu es majeur</p>
    {% else %}
        <p>Tu es mineur</p>
    {% endif %}
{% endblock %}